main {
    display: flex;
}

svg {
    overflow: visible;
    position: float;
}
.container {
    font-family: 'Source Sans Pro';
    color:#404040;
    position: flex;
    margin-top: 10px;
    padding: 20px;
    flex: 1;
    overflow: auto;
}

.container p {
    font-size: 18px;
}

.sidebar {
    height: 1400px;
    width: 25%;
    position: float;
    top: 10;
    left: 10;
    background-color: #ededed;
    color: #404040;
    border-radius: 10px;
    }

.sidebar p {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.sidebar h3 {
    text-align: center;
    padding-top: 14px;
    font-size: 32px;
    font-family: 'Crimson Text';

}

.sidebar div {
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    color: #404040;
    display: float;
    font-family: 'Source Sans Pro';
}

.sidebar h4 {
    font-size: 18px
}